body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  background: #eee;
  padding: 10px;
  max-height: 500px; /* antes era 300px */
  overflow-y: scroll;
}
